/* Reset */

*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    transition: 0.4s;
    /* background-color: rgb(249, 230, 210); */
    background-image: linear-gradient(rgba(0,0,0,0.8),
    rgba(0,0,0,0.8))
    ,url(Medios/Fondo2.jpg);
    text-align: center;
}

/* Encabezado */

header .container{
    background-color: rgb(249, 199, 174);
    padding: 6px;
    display: flex;
    flex-direction: column;
}
header img{
    width: 70px;
    padding-right: 10px;
    background: none;
}
header .logo{
    background: none;
}
header .logo:hover{
    background: none;
}
header a{
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(233, 179, 153);
    color: black;
}
header a:hover{
    background-color: rgb(238, 168, 133);
}

/* Seccion de Menu */

section .container{
    padding: 10px;
}
.menu img{
    width: 490px;
    height: 450px;
    border-radius: 100px;
    box-shadow: 3px 6px 10px;
    margin: 10px;
}
.menu h1,h2{
    font-size: 40px;
    margin-top: 40px;
}
p{
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}
.menu{
    box-shadow: 4px 5px 2px black;
    border-radius: 20px;
    margin: 50px;
    color: aliceblue;
    background: linear-gradient( rgb(190, 159, 140), rgb(228, 143, 93));
}
.menu li{
    list-style: none;
    font-size: 25px;
    font-weight: bold;
}
hr{
    margin: 30px;
}
.especial{
    color: rgb(88, 58, 58);
    font-size: 40px;
}

/* Etiquetas Generales */

span{
    color: rgb(240, 127, 140); 
    font-weight: bold;
}
img{
    width: 150px;
}
h1{
    font-size: 50px;
}

/*Pie de Pagina*/

footer{
    padding: 3px;
    padding-bottom: 15px;
    background-color: rgb(249, 199, 174);
}

/* Responsive */

@media (min-width: 768px){
    
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .menu img{
        width: 700px;
        height: auto;
    }
    
    footer img{
        width: 180px;
        padding: 0;
        margin: 0;
    }

    footer p{
        color: rgba(0, 0, 0, 0.5);
        font-size: 15px;
    }

    h1{
        font-size: 50px;
    }
    
    p{
        font-size: 20px;
    }

}
